body{
	background            : url('images/background.png');
}
body div.siteoftheday{
	background-image      : url('images/siteoftheday.png');
	background-repeat     : no-repeat;
	min-height            : 105px;
	width                 : 69px;
	float                 : right;
}
div.container{
	min-height            : 710px;
	margin-top            : 2px;
	padding-top           : 5px;
}
header.headpage{
	background-image      : url('images/header1.png');
	background-repeat     : no-repeat;
	background-position   : center;
	height                : 242px;
}
nav.linkmenu{
	margin-top            : 77px;
	margin-left           : 270px;
	
}
nav.linkmenu li{
	background-image      : url('images/linkheader.png');
	background-repeat     : no-repeat;
	height                : 35px;
	float                 : left;
}
nav.linkmenu li.home{
	width                 : 125px;
	background-position   : -2px -15px;
}
nav.linkmenu li.aboutus{
	width                 : 115px;
	background-position   :-130px -15px;
}
nav.linkmenu li.aboutus:hover{
	background-position   :-130px -45px;
}
nav.linkmenu li.ourrange{
	width                 : 130px;
	background-position   :-245px -15px;
}
nav.linkmenu li.ourrange:hover{
	background-position   :-245px -45px;
}
nav.linkmenu li.catering{
	width                 : 109px;
	background-position   :-375px -15px;
}
nav.linkmenu li.catering:hover{
	background-position   :-375px -45px;
}
nav.linkmenu li.contact{
	width                 : 90px;
	background-position   :-480px -15px;
}
nav.linkmenu li.contact:hover{
	background-position   :-480px -45px;
}
nav.linkmenu li.f-b{
	width                 : 35px;
	background-position   :-570px -15px;
}
nav.linkmenu li.f-b:hover{
	background-position   :-570px -49px;
}

/*content..........................................................*/
div.content {
	height: 600px;
}

section.sidebar {
	float: left;
	width: 450px;
	margin-top: 20px;
	padding-left: 40px;
}

form {
	display: block;
}

form p {
	margin-bottom: 20px;
	text-transform: uppercase;
}

form  input {
	color: #54301A;
	font-size: 12px;
	border: none;
	border-bottom: 1px solid #E6E5E4;
	width: 300px;
	min-height: 30px;
}

input::-webkit-input-placeholder {
    color: #54301A;
}

input:-moz-placeholder {
    color: #54301A;
}

form textarea {
	color: #54301A;
	font-size: 12px;
	border: 1px solid #E6E5E4;
	width: 300px;
	min-height: 30px;
}

form button {
	cursor: pointer;
	background-image: url('images/buttons.png');
	background-repeat: no-repeat;
	width: 160px;
	min-height: 40px;
	display: block;
	border: none;
	margin: 0 auto;
	background-position: 0 -26px;
}

section.map {
	width: 455px;
	float: right;
	display: block;
	border: 1px solid gray;
	border-radius: 6px;
}

section.map article h2 {
	color: #CC0D1C;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 10px;
	margin-left: 20px;
}

section.map article p {
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

section.map article p span {
	color: #CC0D1C;
	font-size: 17px;
	text-transform: uppercase;
}

section.map iframe {
	border: 10px solid white;
	border-radius: 5px;
	margin-top: 20px;
}
/*.footer..........................................................*/
div.ornamentfoot {
	background-image: url('images/ornament_1-background.png');
	background-repeat: repeat-x;
	min-height: 485px;
	position: relative;

}

footer div.pic {
	background-image: url('images/ornament_21-background.png');
	background-repeat: no-repeat;
	min-height: 300px;
	position: center -5px;
}

footer {
color: #D8CFC6;
overflow: hidden;
position: relative;
z-index: 0;
}

footer div.seprator {
	min-height: 320px;
}

div.seprator article h3 {
	font-size: 20px;
	font-family: 'BlissRegular',Helvetica,Arial,sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: 80px;
	margin-left: 40px;

}

div.seprator article p {
	margin-top: 20px;
	margin-left: 50px;
	font-size: 16px;
	font-family: 'BlissRegular',Helvetica,Arial,sans-serif;
}

div.seprator img {
	margin-bottom: -60px;
	margin-right: 120px;
	float: right;
}

div.copyright {
	border-top: 1px dashed #8D7E6F;
	min-height: 90px;
}

div.copyright p {
	float: left;
	margin-top: 15px;
	margin-left: 10px;
	color: black;
	font-size: 12px;
}