body {
	background-image    : url('images/bg-pattern.png');
	color               : white;
}

.gallery{
	width               : 550px;
}

.gallery li {
	float               : left;
	margin-right        : 15px;
}
}

.gallery li a {
	display             : block;
	border-bottom-width : 30px;
	