body{
	background            : url('images/background.png');
	background-position		:top center;
	background-repeat		: repeat-y;
}
body div.siteoftheday{
	background-image      : url('images/siteoftheday.png');
	background-repeat     : no-repeat;
	min-height            : 105px;
	width                 : 69px;
	float                 : right;
}
div.container{
	min-height            : 710px;
	margin-top            : 2px;
	padding-top           : 5px;
}
header.headpage{
	background-image      : url('images/header1.png');
	background-repeat     : no-repeat;
	background-position   : center;
	height                : 242px;
}
nav.linkmenu{
	margin-top            : 77px;
	margin-left           : 270px;
	
}
nav.linkmenu li a{
	background-image      : url('images/linkheader.png');
	background-repeat     : no-repeat;
	height                : 35px;
	float                 : left;
	display               : block;
}
nav.linkmenu li.home a{
	width                 : 125px;
	background-position   : -2px -15px;
}
nav.linkmenu li.aboutus a{
	width                 : 115px;
	background-position   :-130px -15px;
}
nav.linkmenu li.aboutus a:hover{
	background-position   :-130px -45px;
}
nav.linkmenu li.ourrange a{
	width                 : 130px;
	background-position   :-245px -15px;
}
nav.linkmenu li.ourrange a:hover{
	width                 : 130px;
	background-position   :-245px -45px;
}
nav.linkmenu li.catering a{
	width                 : 109px;
	background-position   :-375px -15px;
}
nav.linkmenu li.catering a:hover{
	background-position   :-375px -45px;
}
nav.linkmenu li.contact a{
	width                 : 90px;
	background-position   :-480px -45px;
}
nav.linkmenu li.f-b a{
	width                 : 35px;
	background-position   :-570px -15px;
}
nav.linkmenu li.f-b a:hover{
	background-position   :-570px -49px;
}


/*content..........................................................*/
div.content {
	height 					: 600px;
}

section.sidebar {
	float					: left;
	width					: 450px;
	margin-top				: 20px;
	padding-left			: 40px;
}

form {
	display					: block;
}

form  input {
	margin-bottom			: 20px;
	color					: #54301A;
	font-size				: 12px;
	border 					: none;
	border-bottom			: 1px solid #E6E5E4;
	width					: 300px;
	min-height				: 30px;
}

input::-webkit-input-placeholder {
    color					: #54301A;
}

input:-moz-placeholder {
    color					: #54301A;
}
input:-o-placeholder {
	 color					: #54301A;
}

form textarea {
	color					: #54301A;
	font-size				: 12px;
	border 					: 1px solid #E6E5E4;
	width					: 300px;
	min-height				: 150px;
}

form button {
	cursor					: pointer;
	background-image		: url('images/buttons.png');
	background-repeat		: no-repeat;
	width					: 160px;
	min-height				: 40px;
	display					: block;
	border 					: none;
	background-position		: 0 -26px;
	margin-left				: 150px;
}
form button:hover{
	cursor: pointer;
	background-position: -164px -26px;
}

section.map {
	width					: 455px;
	float					: right;
	display					: block;
	border 					: 1px solid gray;
	border-radius			: 6px;
}

section.map article h2 {
	color					: #CC0D1C;
	font-size				: 20px;
	text-transform			: uppercase;
	margin-top				: 10px;
	margin-left				: 20px;
}

section.map article p {
	margin-left				: 20px;
	margin-top				: 20px;
	margin-bottom			: 20px;
}

section.map article p span {
	color					: #CC0D1C;
	font-size				: 17px;
	text-transform			: uppercase;
}

section.map iframe {
	border 					: 10px solid white;
	border-radius			: 5px;
	margin-top				: 20px;
}
/*.footer..........................................................*/
div.footerimg{
	background-image	: url('images/ornament_1-background.png');
	min-height			: 483px;
	position 			:relative;
	clear				: both;
	width				: 100%;
	bottom 				: auto;
	
}
footer.wholeimg{
	background-image	: url('images/ornament_2-background.png');
	background-repeat	: repeat-x;
	min-height			: 377px;
	background-position	: center -3px;
	padding-top			: 100px;
	overflow			: hidden;
}
div.imgpatch{
	background-image	: url('images/ornament_1-background.png');
	background-position	: center 0;
	background-repeat	: repeat-x;
	min-height			: 79px;
	width				: 100%;
	position 			: absolute;
	margin-top			: 4px;
	z-index				:1;

}

section.copyright1 {
	background-image	: url('images/ornament_1-background.png');
	background-position	: center 0;
	background-repeat	: repeat-x;
	min-height			: 100px;
	width				: 100%;
	clear				: both;
	border-top			: dashed 1px #8d7e6f;
	margin-top			: 83px
}

section.copyright1 div.copypanels p {
	color				:white;
	min-height			: 35px;
	width				: 950px;
	margin-bottom		: 0;
	margin-right		: auto;
	margin-left			: auto;
	margin-top			: 15px;
	font-size			: 12px;
}

div.wholetext {
	z-index: 2 !important;
}

footer.wholeimg div.wholetext {
	width				: 950px;
	margin-left			: auto;
	margin-right		: auto;
	margin-top			: 10px;
	
}
div.addresstext h5{
	color				: white;
	font-size			: 14px;

}
div.addresstext p{
	color				: #d8cfc6;
	font-size			: 15px;
}
div.addresstext section.openhours h4{
	color				: white;
	font-size			: 17px;
}
section.openhours ul.wevent li span{
	color				: #d8cfc6 !important;
	font-weight			: normal;
	margin-left			: 15px;
}
section.openhours ul.wevent li.firstopen{
	margin-top			: 20px;
}
section.openhours ul.wevent li p{
	white-space			: pre;
	color				: white;
	font-weight			: bold;
	margin-top			: 10px;
	font-size			: 13px;
	

}
section div.wcard h4{
	color				: white;
	font-size			: 17px;
}
section div.wcard p{
	margin-top			: 17px;
	font-size			: 23px;
	font-weight			: normal;
	color				: white;
}
div.wcard div.adr p{
	
	font-weight			: normal;
	margin-top			: 5px;
	font-size			: 15px;
	color				: #d8cfc6 ;
}
div.adr p.faxtel{
	white-space			: pre;
	color				: white !important;
	font-weight			: bold;
	margin-top			: 10px;
	font-size			: 13px;
}
div.adr p.faxtel span{
	color				:#d8cfc6;
}
div.adr p.email{
	white-space			: pre;
	color				: white !important;
	font-weight			: bold;
	margin-top			: 10px;
	font-size			: 13px;
}
div.adr p.email span{
	color				:#d8cfc6;
}
div.wholetext div.mapimg{
	background-image	: url('images/footer-background-sections.png');
	background-repeat	: no-repeat;
	z-index: 2;
	position: absolute;
}