body{
	background            : url('images/background.png');
}
body div.siteoftheday{
	background-image      : url('images/siteoftheday.png');
	background-repeat     : no-repeat;
	min-height            : 105px;
	width                 : 69px;
	float                 : right;
}
div.container{
	min-height            : 1042px;
	margin-top            : 2px;
	padding-top           : 5px;
	outline               : 2px dashed #8C7D16;
}
/*.................................*header*....................................*/
header.headpage{
	background-image      : url('images/header1.png');
	background-repeat     : no-repeat;
	margin-left           : 39px;
	margin-top            : 9px;
	height                : 242px;
}
/*.............*menu*...............*/
nav.linkmenu{
	margin-top            : 77px;
	margin-left           : 270px;	
}
nav.linkmenu li a{
	background-image      : url('images/linkheader.png');
	background-repeat     : no-repeat;
	height                : 35px;
	float                 : left;
	display               : block;
}
nav.linkmenu li.home a{
	width                 : 125px;
	background-position   : -2px -15px;
}
nav.linkmenu li.aboutus a{
	width                 : 115px;
	background-position   :-130px -15px;
}
nav.linkmenu li.aboutus a:hover{
	background-position   :-130px -45px;
}
nav.linkmenu li.ourrange a{
	width                 : 130px;
	background-position   :-245px -15px;
}
nav.linkmenu li.ourrange a:hover{
	background-position   :-245px -45px;
}
nav.linkmenu li.catering a{
	width                 : 109px;
	background-position   :-375px -15px;
}
nav.linkmenu li.catering a:hover{
	background-position   :-375px -45px;
}
nav.linkmenu li.contact a{
	width                 : 90px;
	background-position   :-480px -15px;
}
nav.linkmenu li.contact a:hover{
	background-position   :-480px -45px;
}
nav.linkmenu li.f-b a{
	width                 : 35px;
	background-position   :-570px -15px;
}
nav.linkmenu li.f-b a:hover{
	background-position   :-570px -49px;
}
/*..................................*panel1*..................................*/
div.panel1{
	outline               : 3px solid darkorange;
}
div.panel1 div.picp1{
	background-image      : url('images/image-1.jpg');
	background-repeat     : no-repeat;
	background-position   : center;
	width                 : 485px;
	margin-right          : 18px;
	outline               : 2px dashed #8C7D16;
}
div.panel1 div.boxp1{
	margin-left           : 5px;         
	margin-right          : 515px;
	outline               : 2px dashed #8C7D16;
}
div.panel1 div.boxp1 article.textareap1{
	margin-top            : 3px;
	margin-left           : 5px;
	width                 : 417px;
	outline               : 2px dashed #FCCA03;
}
div.panel1 article.textareap1 h2.titlep1{
	margin-top            : 7px;
	outline               : 2px dashed red;
	width                 : 210px;
	margin-left           : 33px;
}
div.panel1 article.textareap1 p.textp1{
	margin-top            : 18px;
	margin-left           : 33px;
	width                 : 375px;
	outline               : 2px dashed red;
}
div.panel1 div.linkp1{
	margin-top            : 12px;
	min-height            : 33px;
	outline               : 2px dashed red;
}
div.panel1 div.strike{
	width                 : 135px;
	margin-left           : 128px;
	background-image      : url('images/strike.png');
	background-repeat     : no-repeat;
	outline               : 2px dashed red;
}
/*..................................*panel2*..................................*/
div.panel2{
	margin-bottom         : 4px;
	outline               : 2px solid darkmagenta;
}
div.panel2 div.scroller{
	width                 : 950px;
	background-image      : url('images/scroller.png');
}
div.panel2 menu.menup2{

	padding-top           : 2px;
	outline               : 2px dashed #31F541;
}
div.panel2 div.slideshow{
	width                 : 880px;
	outline               : 2px dashed #31F541;
}
div.panel2 div.picp2{
	width                 : 464px;
	height                : 188px;
	margin-top            : 12px;
	margin-right          : 4px;
	outline               : 2px dashed red;
}
div.panel2 div.boxp2{
	margin-top            : 5px;
	margin-right          : 490px;
	outline               : 2px dashed red;
}
div.panel2 div.boxp2 article.textareap2{
	margin-top           : 5px;
	margin-left          : 5px;
	width                : 383px;
	outline              : 2px dashed #FADD00;
}
div.panel2 article.textareap2 h2.titlep2{
	margin-top           : 5px;
	margin-left          : 1px;
	outline              : 2px dashed darkorange;
}
div.panel2 article.textareap2 p.textp2{
	width: 380px;
	margin-top           : 15px;
	margin-left          : 1px;
	outline              : 2px dashed darkorange;
}
div.panel2 div.linkp2{
	margin-top           : 12px;
	margin-left          : 2px;
	outline              : 2px dashed #FADD00;
}
div.panel2 div.footer{
	width                : 318px;
	margin-bottom        : 2px;
	outline              : 2px dashed #0000ff;
}

